[Unit]
Description=Update dynamic wallpaper periodically

[Timer]
OnStartupSec=15s
OnUnitInactiveSec=1min
AccuracySec=10s
Persistent=true
Unit=dynamic-wallpaper.service

[Install]
WantedBy=timers.target
