[Unit]
Description=Apply Apple Dynamic HEIC wallpaper
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
TimeoutStartSec=75s
Restart=on-failure
RestartSec=5s
ExecStart=@DYNAMIC_WALLPAPER_COMMAND@ --startup
